<a href="https://colab.research.google.com/github/jeong-eunjeong/MasterThesis/blob/main/2_DART_api_%EC%82%AC%EC%9B%90_%EC%88%98_%EA%B7%B8%EB%A3%B9%EB%B3%84_%ED%86%B5%EA%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#●2023년도

#★데이터 불러오기

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
raw=pd.read_excel('/content/drive/MyDrive/★2023_석사논문/데이터/사원수_ESG2023_3차.xlsx')

In [ ]:
raw

,Unnamed: 0,rcept_no,corp_cls,corp_code,corp_name,성별,fo_bbm,정규직 수,"대표이사, 이사, 사외이사 등",계약직 수,계약직 단시간 근로자 수,평균 근속 연수(년)
0,0,20230320001057,Y,167208,흥아해운,남,육상근무,19.0,NaN,NaN,1.0,8.000000
1,1,20230320001057,Y,167208,흥아해운,여,육상근무,7.0,NaN,NaN,1.0,4.166667
2,2,20230320001057,Y,167208,흥아해운,남,해상근무,129.0,NaN,14.0,NaN,4.166667
3,3,20230320001057,Y,167208,흥아해운,여,해상근무,NaN,NaN,NaN,NaN,0.000000
4,4,20230320001057,Y,167208,흥아해운,남,외국인선원,NaN,NaN,176.0,NaN,0.916667
...,...,...,...,...,...,...,...,...,...,...,...,...
1050,1050,20230321000733,K,161781,아난티,여,리조트운영,159.0,NaN,1.0,NaN,2.250000
1051,1051,20230321000733,K,161781,아난티,남,공사부문,15.0,NaN,2.0,NaN,3.250000
1052,1052,20230321000733,K,161781,아난티,여,공사부문,1.0,NaN,NaN,NaN,0.583333
1053,1053,20230321000733,K,161781,아난티,남,본사관리,73.0,NaN,8.0,NaN,2.000000
1054,1054,20230321000733,K,161781,아난티,여,본사관리,71.0,NaN,3.0,NaN,2.000000

In [ ]:
df=raw

In [ ]:
#df = df.rename(columns={'sexdstn':'성별'})
#df = df.rename(columns={'정규직 단시간 근로자 수':'대표이사, 이사, 사외이사'})

#1.그룹별 인원 합계

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1055 non-null   int64
 1   rcept_no          1055 non-null   int64
 2   corp_cls          1055 non-null   object
 3   corp_code         1055 non-null   int64
 4   corp_name         1055 non-null   object
 5   성별                1055 non-null   object
 6   fo_bbm            1055 non-null   object
 7   정규직 수             1045 non-null   float64
 8   대표이사, 이사, 사외이사 등  181 non-null    float64
 9   계약직 수             703 non-null    float64
 10  계약직 단시간 근로자 수     214 non-null    float64
 11  평균 근속 연수(년)       1055 non-null   float64
dtypes: float64(5), int64(3), object(4)
memory usage: 99.0+ KB

In [ ]:
df['대표이사, 이사, 사외이사'] = pd.to_numeric(df['대표이사, 이사, 사외이사'], errors='coerce')
df['정규직 수'] = pd.to_numeric(df['정규직 수'], errors='coerce')
df['계약직 수'] = pd.to_numeric(df['계약직 수'], errors='coerce')
df['계약직 단시간 근로자 수'] = pd.to_numeric(df['계약직 단시간 근로자 수'], errors='coerce')

In [ ]:
df = df.fillna(0)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1055 non-null   int64
 1   rcept_no          1055 non-null   int64
 2   corp_cls          1055 non-null   object
 3   corp_code         1055 non-null   int64
 4   corp_name         1055 non-null   object
 5   성별                1055 non-null   object
 6   fo_bbm            1055 non-null   object
 7   정규직 수             1055 non-null   float64
 8   대표이사, 이사, 사외이사 등  1055 non-null   float64
 9   계약직 수             1055 non-null   float64
 10  계약직 단시간 근로자 수     1055 non-null   float64
 11  평균 근속 연수(년)       1055 non-null   float64
dtypes: float64(5), int64(3), object(4)
memory usage: 99.0+ KB

In [ ]:
final = df.groupby(['corp_code','성별']).agg({'대표이사, 이사, 사외이사 등':'sum','정규직 수':'sum','계약직 수':'sum','계약직 단시간 근로자 수':'sum','평균 근속 연수(년)':'mean'})

In [ ]:
final.head(50)

              대표이사, 이사, 사외이사 등   정규직 수  계약직 수  계약직 단시간 근로자 수  평균 근속 연수(년)
corp_code 성별
103042    남                0.0   365.0   32.0            1.0    14.116667
          여                0.0    55.0    9.0            0.0    18.500000
103130    남                0.0    36.0    0.0            0.0     2.277778
          여                0.0    11.0    0.0            0.0     1.916667
103510    남                0.0   467.0    0.0            0.0    10.600000
          여                0.0    83.0    0.0            0.0    14.700000
103626    남                0.0   197.0    0.0            0.0     6.000000
          여                0.0    65.0    1.0            0.0     6.000000
104999    남                0.0    96.0    5.0            0.0    11.030000
          여                0.0    86.0    6.0            0.0     7.780000
105101    남                0.0    24.0    7.0            0.0     1.200000
          여                0.0     4.0    0.0            0.0     4.100000
105271    남                0.0  2921.0  160.0            0.0    13.235000
          여                0.0   333.0   18.0            0.0     8.782500
105855    남                0.0  2639.0   85.0            0.0    15.825000
          여                0.0   334.0   54.0            0.0    10.375000
106623    남                0.0  2749.0   74.0            0.0    13.850000
          여                8.0    84.0   10.0            0.0     5.875000
106881    남                0.0    85.0    0.0            0.0     7.333333
          여                0.0    93.0    0.0            0.0     3.583333
107613    남                0.0   814.0   75.0            0.0    15.750000
          여                0.0    68.0   10.0            0.0     9.166667
108038    남                0.0   201.0   19.0            0.0     9.000000
          여                0.0    24.0    0.0            0.0     4.000000
109161    남                0.0    76.0   19.0            0.0    10.041667
          여                0.0    10.0    0.0            0.0     4.250000
111421    남                0.0   299.0   16.0            0.0     7.100000
          여                0.0    45.0    4.0            0.0     9.700000
117577    남                0.0     6.0    0.0            0.0    17.000000
          여                0.0     2.0    0.0            0.0    28.000000
118521    남                0.0    28.0    0.0            0.0     8.633333
          여                0.0    35.0    0.0            0.0     4.000000
118965    남                0.0   394.0   30.0            0.0    11.000000
          여                0.0    61.0   10.0            0.0     6.000000
119140    남                0.0   777.0    1.0            0.0    12.375000
          여                0.0   130.0    4.0            0.0     9.625000
121969    남                0.0    93.0   25.0            0.0     3.125000
          여                0.0    19.0    2.0            0.0     2.583333
122481    남                0.0   228.0    9.0            0.0     9.635000
          여                0.0    49.0    0.0            0.0     8.340000
122737    남                0.0   732.0  298.0            0.0    10.200000
          여                0.0   102.0   14.0            0.0     6.950000
122825    남                0.0    42.0    0.0            0.0     5.600000
          여                0.0    11.0    0.0            0.0     0.860000
124090    남                0.0   509.0    3.0            0.0     8.200000
          여                0.0    13.0   17.0            0.0    10.700000
124504    남                0.0   859.0   15.0            4.0    11.000000
          여                0.0   335.0   11.0            8.0    12.000000
125521    남                0.0  3308.0  654.0            0.0    11.600000
          여                0.0   536.0  137.0            0.0    10.600000

In [ ]:
final.to_excel(excel_writer='최종인원2023_3차.xlsx')

#2.성별 재직기간

In [ ]:
raw=pd.read_excel('/content/drive/MyDrive/★2023_석사논문/데이터/사원수_ESG2023_new.xlsx',sheet_name='Sheet2')

In [ ]:
df=raw
df = df.rename(columns={'sexdstn':'성별'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 735 entries, 0 to 734
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   corp_code    735 non-null    int64
 1   corp_name    735 non-null    object
 2   성별           735 non-null    object
 3   최종 재직 기간(년)  735 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 23.1+ KB

In [ ]:
final = df.groupby(['corp_code','성별']).agg({'최종 재직 기간(년)':'mean'})

In [ ]:
final.head(50)

              최종 재직 기간(년)
corp_code 성별
100939    남     13.000000
          여      6.916667
101220    남     14.000000
          여      4.000000
101433    남      9.900000
          여      7.500000
101488    남      7.420000
          여      5.700000
101628    남      9.840000
          여      5.945000
101664    남      8.800000
          여      4.100000
102113    남      9.300000
          여      7.400000
102140    남     14.125000
          여      8.583333
102432    남      7.250000
          여      1.740000
102618    남     13.300000
          여     12.250000
102751    남     11.700000
          여      8.300000
102858    남     13.333333
          여      4.916667
103006    남     11.890000
          여      7.190000
103592    남     10.500000
          여      8.500000
103662    남      9.950000
          여      8.300000
104388    남      6.250000
          여      6.150000
104519    남     13.000000
          여      6.200000
104573    남     14.730000
          여      4.940000
104698    남     10.291667
          여      3.770833
104722    남     11.790000
          여     11.360000
104768    남     14.033333
          여      5.933333
105156    남     11.850000
          여      9.400000
105299    남     10.566667
          여      8.366667
105466    남     11.160000
          여      5.320000
105606    남      8.330000
          여      9.010000